Checks: >
  -*,
  bugprone-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -google-readability-namespace-comments,
  -google-runtime-int,
  -google-runtime-references,
  -misc-non-private-member-variables-in-classes,
  -readability-named-parameter,
  -readability-braces-around-statements,
  -readability-magic-numbers

HeaderFilterRegex: '.*'
CheckOptions:
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.ConstantParameterCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  # - key: readability-identifier-naming.NamespaceCase
  #   value: lower_case
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ClassConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ClassConstantPrefix
    value: k
  - key: readability-identifier-naming.ClassConstantSuffix
    value: _
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _
  - key: misc-assert-side-effect.CheckFunctionCalls
    value: 1
  - key: misc-assert-side-effect.AssertMacros
    value: 'assert'
  - key: modernize-use-trailing-return-type
    value: false